.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  font-family: var(--Raleway);
  background-color: var(--green);
  z-index: 1000;
  justify-content: center;
  flex-grow: 1;
  box-shadow: 0 0 15px var(--shadow-color);
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  height: var(--nav-height);

  &__inner {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 720px;
  }

  &__btn {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 5px 2px;
    color: var(--white);
    font-family: var(--Raleway);
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .1s ease;

    &:hover {
      background-color: var(--white);
      color: var(--green);
    }
  } 

  &__icon {
    display: block;
    font-size: 20px;
  }
}
