.popup {
  width: 170px;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 80px 20px 30px;
  gap: 3px;
}

.popup__img {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid var(--green);
  border-radius: 5px 5px 0 0;

  img {
    width: 100%;
  }
}

.popup__name {
  grid-row: 2;
  grid-column: 1/4;
  font-size: 14px;
  text-align: center;
  color: var(--black);
}

.popup .path {
  grid-row: 3;
  grid-column: 1;
}

.popup .open-quest {
  grid-row: 3;
  grid-column: 2/4;
}

.leaflet-popup-close-button {
  font-size: 24px !important;
}