.btn {
  padding: 5px;
  display: block;
  border: 2px solid var(--green);
  background-color: var(--green);
  font-family: var(--Raleway);
  border-radius: 2px;
  color: var(--white);
  font-size: 15px;
  transition: background 0.1s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white);
  color: var(--green); 
}

.btn.disabled {
  background-color: #555;
  border-color: #555;
  cursor: auto;
}

.btn.disabled:hover {
  background-color: #555;
  color: var(--white);
}