@use 'reset';
@use 'var';

@import '../../../node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css';
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

.app {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: calc(100% - var(--nav-height));
  display: flex;
  justify-content: center;
  position: relative;
}

@import './components/navigation';
@import './components/paws';
@import './components/loading';
@import './components/addit';
@import './components/map';
@import './components/markerType';
@import './components/mapControl';
@import './components/modal';
@import './components/UI/btn';
@import './components/popup';