.single {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr auto;
  height: 100%;
  max-height: 700px;
  align-self: center;
  box-shadow: 0 0 8px var(--shadow-color);
  border-radius: 5px;
  position: relative;
}

.single__content {
  display: flex;
  flex-direction: column;
  font-family: var(--Raleway);
  width: 100%;
  overflow-y: auto;
  padding: 15px;
  gap: 10px;
}

.single__two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.single__type {
  color: var(black);
  opacity: 0.5;
  font-style: italic;
  font-weight: 600;
}

.single__distance {
  text-align: right;
  opacity: 0.5;
}

.single__title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.single__title-small {
  font-size: 17px;
  text-transform: unset;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.single__description {
  font-size: 15px;
  text-align: justify;
  text-transform: initial;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black);
  margin-bottom: 10px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.single__fact {
  margin-left: 15px;
  margin-bottom: 5px;
}

.single__controls {
  padding: 0 15px;

  &-inner {
    border-top: 1px solid var(--black);
    padding: 15px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.single__images {
  width: 100%;
}

.single__thumbnail {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single__variants {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 5px 0;
  overflow-x: auto;
}

.single__variant {
  width: 20%;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;

  &.active {
    border: 4px solid var(--green);
  }
}

.single__task-current {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  background-color: #FFFFFFbb;  
}

.single__tasks {
  display: grid;
  gap: 10px;
}

.single__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px var(--shadow-color);
  border-radius: 5px;
  overflow: hidden;

  &-name {
    text-transform: lowercase;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &-content {
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: bold;
    
  }
}

@media (min-width: 1024px) { 
  .single {
    max-width: 600px;

    &__thumbnail {
      height: 300px;
    }
  }
}