.leftBottom,
.rightBottom,
.rightTop {
  position: fixed;
  z-index: 2000;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
}

.leftBottom {
  left: 10px;
  bottom: calc(var(--nav-height) + 16px);
}

.rightBottom {
  right: 10px;
  bottom: calc(var(--nav-height) + 16px);
}

.rightTop {
  right: 10px;
  top: 10px;
}