.paw-svg {
  width: 0;
  --width: 45%;
  position: absolute;
  --delay: 1.25s;
  stroke: var(--red-light);
  fill: var(--red-light);

  #pads {
    fill: var(--white);
  }
}

.paws-animation {
  width: 80px;
  aspect-ratio: 1/2;
  position: relative;
}

#paw-1,
#paw-2 {
  left: 0;
}

#paw-3,
#paw-4 {
  right: 0;
}

#paw-1 {
  animation: slide-down var(--delay) linear infinite forwards;
}

#paw-2 {
  animation: slide-down var(--delay) calc((var(--delay) / 4) * 2) linear infinite forwards;
}

#paw-3 {
  animation: slide-down var(--delay) calc((var(--delay) / 4)) linear infinite forwards;
}

#paw-4 {
  animation: slide-down var(--delay) calc((var(--delay) / 4) * 3) linear infinite forwards;
}

@keyframes slide-down {
  0% {
    width: var(--width);
  }
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: translateY(500%);
    width: var(--width);
  }
}